.h1_Container {
    margin-top: 60px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    color: #2B3784;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem 0;
}

p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}


.container-sm {
    margin: 20px auto;
    max-width: 1000px;
}

.contenedorH2 {
    margin: 20px 20px;
}

.scrapingContainer {
    text-align: center;
}


.img {
    width: 400px;
    height: 400px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 60px;
}